/* App */
main {
  min-height: 80vh;
}

/* All Screens */
.card {
  border-radius: 10px;
}

/* Focus, Short, Lazy, Long screens */
.timer {
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 0;
}

/* Focus, Lazy, Long screens */
.progress {
  margin-bottom: 3rem;
}

/* SplashScreen */
.splash-card-text-container {
  margin: 2rem 0rem;
}
.splash-card-text {
  font-size: 3rem;
  color: #fdf7e5;
}
.splash-img {
  margin: 20px 10px 40px 10px;
}
.splash-card-footer {
  margin-top: 4rem;
}
.splash-footer-text {
  margin-bottom: 0;
}
.hide {
  overflow: hidden;
}

/* FocusScreen  */
.icon-focus-brain {
  color: #88989a;
  text-shadow: 1px 1px 1px #022b36;
}
.timecard-title-focus {
  color: #022b36;
  font-size: 2rem;
}
.timer-start-text {
    color: #022b36;
}
.start-timer {
    width: 100px;
    height: 100px;
}
.start-timer-icon {
    font-size: 3rem;
    padding-left: 10px;
}
/* ShortBreakScreen */
.timecard-title {
  color: #022b36;
  font-size: 1.6rem;
}
.icon-break-heart {
  color: #d33781;
  text-shadow: 1px 1px 1px #022b36;
}
.list-group-item {
  border: none !important;
  font-size: 1.5rem;
  color: #022b36;
}
.btn-next-exercise, .btn-lazybreak {
    color: #022b36;
    transition: all 0.5s ease;
    align-self: flex-end;
    box-shadow: none !important;
}
.btn-next-exercise:hover,
.btn-lazybreak:hover {
  font-size: 1.1rem;
  color:#022b36;
  text-decoration: none;
}
.exercise-name {
  font-size: 1.5rem !important;
  color:#022b36;
  font-weight: bolder;
}

/* LazyBreakScreen */
.icon-lazy-plant {
  color: #2aa198;
  text-shadow: 1px 1px 1px #022b36;
}

/* LongBreakScreen */
.icon-break-smile {
  color: #fdf7e5;
  text-shadow: 1px 1px 1px #022b36;
}

/* SettingsEditScreen */
.btn-submit {
  border: none !important;
  border-radius: 5px !important;
}
.icon-nav {
  font-size: 1.3rem;
} 

/* ReportCardScreen */
.icon-report {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-20%)
}
.icon-report-heart {
  color: #d33781;
  text-shadow: 1px 1px 1px #022b36;
}
.icon-report-brain {
  color: #fdf7e5;
  text-shadow: 1px 1px 1px #022b36;
}
.icon-report-goal {
  color: #b58904;
  text-shadow: 1px 1px 1px #022b36;
}
.icon-report-high5 {
    color: #b58904;
  text-shadow: 1px 1px 1px #022b36;
}
.icon-report {
    font-size: 3.5rem;
    padding-top: 1rem;
}
.card-report-top {
  padding-top: 3rem !important;
}
.report-progress-bar {
    margin-bottom: 3rem !important;
}

/* NavCard */
.navbar {
  border-radius: 8px;
}

/* Tracker */
.rounds-header, .goal-header {
  color: #022b36;
}
.denominator-focus {
  color: #022b36;
  font-weight: bolder;
  font-size: 1.5rem;
}
.denominator-long {
  color: #022b36;
  font-weight: bolder;
}
hr {
  background-color: #022b36;
  width: 30px;
  height: 2px;
  margin: 0 auto;
}
.rounds-container, .goal-container {
  width: 50%;
}
.rounds-progress, .goal-progress {
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: 2.8rem;
  color: #022b36;
}
.rounds-header, .goal-header {
  padding: .5rem;
}

/* Controls */
.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
.fa-play, .fa-forward {
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 576px) {
  .card {
    margin: 0 !important;
  }
  .card-body {
    padding: 1rem !important;
  }
  .card-focus, .card-shortbreak {
    max-width: 475px;
    min-width: 250px;
  }
  h1{
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
    padding: 0 !important;
  }
  h3 {
    font-size: 1.2rem;
  }

  label {
    font-size: 1rem !important;
  }
  .p-5, .px-5 {
    padding: 1rem !important;
  }
  .py-3 {
    padding: 1rem !important;
  }
  .card-progress-report {
    padding-top: 0 !important;
  }
  .icon-report {
    font-size: 3rem;
    padding-top: 1rem;
  }
  .icon-focus-brain, .icon-break-heart {
    padding: 0 5px !important;
  }
}

@media(min-width: 768px) {
  .card {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .timecard-title {
    font-size: 2.4rem;
  }
}

